@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<br /><br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">
            <img src="~/Photos/logo.png" alt="logo" height="100" width="100" />
        </div>
        <div class="col-lg-11">
            <center>
                <h1><b><u>About Us</u></b></h1>
            </center>
            <img src="~/Photos/270764.jpg" alt="Blood Donation" height="500" width="1000" />
        </div>
    </div>
    </div>
<br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <h2><b><u>Our Purpose</u></b></h2>
                <p style="text-align:justify">
                    Universally, 'Blood' is recognized as the most precious element that sustains life. It saves innumerable lives across the world in a variety of conditions. Once in every 2- seconds, someone, somewhere is desperately in need of blood. More than 29 million units of blood components are transfused every year. The need for blood is great - on any given day, approximately 39,000 units of Red Blood Cells are needed. Each year, we could meet only up to 1% (approx) of our nation’s demand for blood transfusion.

                    Despite the increase in the number of donors, blood remains in short supply during emergencies, mainly attributed to the lack of information and accessibility. We positively believe this tool can overcome most of these challenges by effectively connecting the blood donors with the blood recipients.

                </p>
            </div>
            <div class="col-lg-4">
                <h2><b><u>Why Blood Finder?</u></b></h2>
            </div>

            <div class="col-lg-4">
                <h2><b><u>Why Blood Donation? </u></b></h2>
                <p style="text-align:justify">
                    Blood is the most precious gift that anyone can give to another person — the gift of life. A decision to donate your blood can save a life, or even several if your blood is separated into its components — red cells, platelets and plasma — which can be used individually for patients with specific conditions.Better health is enjoyed by those who donate their time, expertise or money to others who are in need. Charitable people tend to be able to cope with their own problems more easily than those who don't donate. Giving to others improves your self-esteem, self confidence and self worthBetter health is enjoyed by those who donate their time, expertise or money to others who are in need. Charitable people tend to be able to cope with their own problems more easily than those who don't donate. Giving to others improves your self-esteem, self confidence and self worth
                </p>
            </div>
        </div>
    </div>
