@{


    ViewBag.Title = "Contact";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<br />

<script src='https://kit.fontawesome.com/a076d05399.js'></script>



<br />
<div class="container-fluid">
    <div class="row">

        <div class="cols-lg-4">
            <img src="~/Photos/logo.png" alt="logo" height="110" width="120" />
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-lg-8">
            <h1><b><u>Contact Us</u></b></h1>

            <h4> <i class="fas fa-phone-square-alt" style='font-size:25px'>&nbsp; </i> <b>Mobile No:</b> 9811399249</h4>
            <h4><i class="fas fa-envelope" style='font-size:25px'>&nbsp; </i> <b>E-Mail:</b>
            @Html.ActionLink("Blood Finder Nepal","Email","Email")</h4>


            <h4><b><u>Follow Us On:</u></b></h4><i class="fab fa-facebook-square" style='font-size:40px'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-instagram" style='font-size:40px'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-linkedin" style='font-size:40px'></i>

        </div>
    </div>
</div>


